## Vercel-compatible clean requirements file
Django==5.2.7
django-cors-headers==4.9.0
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
gunicorn==24.1.1
pillow==12.0.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
reportlab==4.4.6
sqlparse==0.5.3
tzdata==2025.2
